#banner{
	color: white;
	height: 90vh;
	background-image: background: rgb(0,0,5);
	background: linear-gradient(90deg, rgba(147,147,147,1) 0%, rgba(152,151,151,0.12052869496855345) 35%, rgba(172,172,172,0.16719258957654726) 100%),url("../images/banniere.jpg");
	background-size: cover;
	background-position: 0;
	display: flex;
	flex-direction: column;
	}

#banner-otherpages{
	color: white;
	height: 100vh;
	width: 100vw;
	background-size: cover;
	display: flex;
	flex-direction: column;
	}

.video-otherpages{
	height: 100vh;
	width: 100vw;
	object-fit: cover;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: -1; 
}

#banner-messages{
	display: flex; 
	flex-direction: column;
	justify-content: bottom;
	align-items: center;
	text-shadow: 0px 1px 1px #00000042;
	justify-content: center;
	align-items: center; 
	flex: 1;
	text-align: center; 
}

#banner-messages-otherpages{
	display: flex; 
	flex-direction: column;
	justify-content: bottom;
	align-items: center;
	text-shadow: 0px 1px 1px #00000042;
	justify-content: center;
	align-items: center; 
	flex: 1;
	text-align: center; 
	margin-top: -400px;
}

.formulaire-otherpages{
	background-color: rgba(52, 103, 103, 0.7);
	color: rgb(249, 247, 245);
	padding: 4px 4px;
	border-radius: 30px;
	font-weight: bolder;
	display: block;
	margin: 0 auto;
	top: -26px;
	position: relative;
	display: flex;
	list-style: none;
	height: 45px;
	align-items: center;
	padding: 0;
	margin: 0;
	margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 800px;
    justify-content: space-between;
   	flex-direction: column;
   	padding: 0 50px;
   	 margin-top: -150px;
 }

#formulaire-message{
	text-align: center;
	margin-left: 50px;
}

 #champs-email{
	color: rgb(52, 103, 103);
	background-color: rgb(249, 247, 245);
	border-radius: 20px;
	padding: 5px 5px 5px 5px;
	text-align: center;
	flex:1;
 }

 #ok-formulaire{
	margin-bottom: 0px;
	background-color: rgb(192, 196, 175);
	color: rgb(249, 247, 245);
	border-radius: 20px;
	font-weight: bolder;
	width: 90px;
	margin: 0 auto;
	padding: 8px 8px 8px 8px;
	margin-right: 20px;
	flex: 0;
 }

 #ok-formulaire:hover {
	background-color: rgb(52, 103, 103);
	color: white;
	transition: 0.5s;
}

#banner-list{
	padding: 0;
	list-style: none;
}

#banner-list li{
	display: inline;
	margin:0 16px;
}

#banner-head{
	display: flex;
	justify-content: space-between;
	z-index: 10;
}

#banner-logo{
	margin: 20px;

}

#logo{
	height: 20px;
}

#banner-list{
	padding: 0;
	list-style: none;
}

#banner-list li{
	display: inline;
	margin:0 16px;
}

@media (min-width: 800px) {
	.formulaire-otherpages{
		display: flex;
	flex-direction: row;
	margin-top: -400px;
	}
}

.champ {
	display: flex;
}



