/* CTAs */
#cta-banner-head{
	background-color: rgb(230, 160, 132);
	color: rgb(249, 247, 245);
	padding: 8px 16px;
	border-radius: 20px;
	font-weight: bolder;
	width: 220px;
	margin: 0 auto;
}	

#cta-banner-head:hover {
	background-color: rgb(52, 103, 103);
	color: white;
	transition: 0.5s;
}

#cta-banner-simple{
	color: white;
}

.link-btn{
	color: rgb(230, 160, 132);
}

/* BARRE DE RECHERCHE */
.barre-recherche{
	background-color: rgb(52, 103, 103);
	color: rgb(249, 247, 245);
	border-radius: 30px;
	font-weight: bolder;
	top: -26px;
	position: relative;
	display: flex;
	list-style: none;
	height: 45px;
	align-items: center;
	padding: 0;
	margin: 0;
	margin-left: auto;
    margin-right: auto;
    width: 800px;
    justify-content: space-around;
}

.barre-recherche li {
	margin: 0;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	width: 25%;
}

.barre-recherche li img {
	margin-left: 10px;
}

.barre-recherche li:not(:last-child)::after {
	position: absolute;
	content: "";
	height: 100%;
	width: 1px;
	background: white;
	right: 0;
	top: 0;
}

.icone-fleche{
	height: 10px;
}