.card{
	background-color: white;
	text-align: center;
	padding: 75px;
	border-radius: 6px;
	box-shadow: 1px 1px 5px 10px rgba(0, 0, 0, 0.4);
	margin: 20px 20px 20px;
	height: 450px;
}

.cards{
	display: grid;
	grid-template-columns: 1fr;
	grid-gap: 16px;
	margin-left: 50px;
	margin-right:50px;
	height: 800px;
}

.photo-card{
	height: 60%;
}

@media (min-width: 976px) {
	.cards{
		grid-template-columns: 1fr 1fr;
	}
}

.card-head{
	display: flex;
	justify-content: space-between;
	padding: 0;
	margin-bottom: 0px;
	margin-top: 0px;
	margin-left: 30px;
	margin-right: 30px;
}

.card-bottom{
	display: flex;
	justify-content: space-between;
	padding: 0;
	margin-bottom: 0px;
	margin-top: 0px;
	margin-left: 30px;
	margin-right:160px;
}

.card-coach{
	display: flex;
	justify-content: flex-start;
	padding: 0;
	margin-left: 30px;
	margin-bottom: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
}
