/* GLOBAL FOOTER */
.footer{
	background-color: rgb(52, 103, 103);
	color: white;
	text-align: center;
	padding: 24px 0;
	margin-top: 40px;
	padding-right: 60px;
	padding-left : 60px;
	text-decoration: none;
}

/* FOOTER MENU */
.footer-head{
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.footer-list {
	padding: 0 0 0 0 ;
	text-align: left;
}

.footer-list li{
	padding: 0;
	list-style: none;
}

/* FOOTER SOCIAL MEDIAS */
.list-inline{
	padding: 0;
	list-style: none;
}

.list-inline li{
	display: inline;
	margin:0 16px;
}	

#footer-socials{
	margin-top: 30px;
	margin-bottom: 30px;
	display: inline-flex;
	justify-content: center;
	align-items: center;
}

.fa-brands{
	font-size: 30px;
	color: white;
}

.fa-brands:hover {
	color: rgb(52, 103, 103);
}

/* FOOTER COPYRIGHT */
#footer-end{
	font-size: 14px;
	margin-top: 30px;
	margin-bottom: 0px;
}

/* RESPONSIVE DESIGN */
@media (min-width: 810px) {
	.footer-head{
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	}
