@import url("banner.css");
@import url("buttons.css");
@import url("cards.css");
@import url("footer.css");
@import url(//db.onlinewebfonts.com/c/fb4e5307894d3c64bff1c4c6e08934a6?family=Berlingske+Serif+Text);


@font-face {
  font-family: Gilroy;
  src: local("Gilroy Bold"),
       local("Gilroy-Bold"),
       url(../fonts/gilroy-light.otf);
  font-weight: light;
}

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


a{
	text-decoration: none;
}

body{
	font-family: 'Gilroy', sans-serif;
	margin: 0;
	background-color: rgb(249, 247, 245);
}

h1, h2 {
	font-family: "Berlingske Serif Text", serif;
	font-weight: lighter;
}

h1{
	font-size: 50px;
}

h2{
	font-size: 40px;
}

.slogan{
	margin: 100px;
	display: flex; 
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	line-height: 30px;
	font-weight: lighter;
}


.menu{
	display: flex;
	justify-content: space-between;
	margin: 90px;
}

.img-menu{
	height: 400px;
	width: auto;
}

.menu-element{
	margin: 20px;
}

.presentation-lives{
	margin: 30px;
	display: flex; 
	flex-direction: column;
	justify-content: center;
	align-items: bottom;
	text-align: center;
	line-height: 50px;
	font-weight: lighter;
	margin-bottom: 0px;
}

#presentation-lives-list{
	padding: 0 350px;
	list-style: none;
	display: flex;
	justify-content: space-around;
	margin: 70px;
	margin-top: 0px;
}

#presentation-lives-list li{
	display: inline;
	margin:0 16px;
}

.container{
	height: 80%;
	margin: 0 auto;
}