@import url("banner.css");
@import url("buttons.css");
@import url("cards.css");
@import url("footer.css");
@import url(//db.onlinewebfonts.com/c/fb4e5307894d3c64bff1c4c6e08934a6?family=Berlingske+Serif+Text);


@font-face {
  font-family: Gilroy;
  src: local("Gilroy Bold"),
       local("Gilroy-Bold"),
       url(../fonts/gilroy-light.otf);
  font-weight: light;
} g

html, 
body { 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* {
	box-sizing: border-box;
}


a{
	text-decoration: none;
	color: black;
}

body{
	font-family: 'Gilroy', sans-serif;
	margin: 0;
	background-color: rgb(249, 247, 245);
}

h1, h2 {
	font-family: "Berlingske Serif Text", serif;
	font-weight: lighter;
}

h1{
	font-size: 50px;
}

h2{
	font-size: 40px;
}

.slogan{
	margin: 100px;
	display: flex; 
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	line-height: 30px;
	font-weight: lighter;
}


.menu{

	display: flex;
	justify-content: space-between;
	/*margin: 90px 90px 220px 90px;*/
	margin-bottom: 220px;
	margin-top: 90px;
	flex-direction: column;
}

.img-menu{
	height: auto;
	width: 100%;
}

.menu-element{
	margin: 20px;
}

.presentation-lives{
	margin: 30px;
	display: flex; 
	flex-direction: column;
	justify-content: center;
	align-items: bottom;
	text-align: center;
	line-height: 50px;
	font-weight: lighter;
	margin-bottom: 0px;
}

#presentation-lives-list{
	padding: 0;
	list-style: none;
	display: flex;
	justify-content: center;
	margin: 70px;
	margin-top: 0px;
}

#presentation-lives-list li{
	display: inline;
	margin:0 16px;
}

.container{
	width: 100%;
	max-width: 1300px;
	margin: 0 auto;
}

#planning-link{
	margin: 100px 0 250px 0;
	text-align: center;
	text-decoration: none;
}

.message-slogan{
	margin: 100px 0;
	text-align: center;
}

#titre-explication{
	margin: 0 0 300px 0;
	text-align: center;
}

.explication-cours{
	margin-top: 140px;
	margin-bottom: 140px;
	display: grid;
	grid-template-columns: 1fr;
}

.img-explication-cours{
	width: 100%;
	height: auto;
}

#img-rencontres{
	width: 100%;
	height: auto;
	max-width: 450px;
}

#grid-img-rencontres{
	display: flex;
	justify-content: flex-end;
}

.explication-content{
	align-items: flex-start;
	margin-left: 100px;
}

#explication-accompagnement{
	margin-left: 100px;
	margin-bottom: 50px;
}

@media (min-width: 900px) {
	.menu{
		flex-direction: row;
	}
}

@media (min-width: 1180px) {
	#explication-accompagnement{
		margin-left: 200px;
		margin-bottom: 0px;
	}
}

@media (min-width: 700px) {
	.explication-cours{
		grid-template-columns: 1fr 1fr;
	}
}